.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.card {
  padding: 1.5rem;
  margin: 0 auto;
}

.formGroup {
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  &>input,
  &>textarea {
    box-sizing: border-box;
    max-width: 100%;
  }
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
}

.buttonGroup {
  margin-top: 2rem;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}